@font-face {
  font-family: 'Open Sans';
  src: url('../../../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 0 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../../assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 0 1000;
  font-display: swap;
}

$font-family_OpenSans: 'Open Sans', sans-serif;


